:root{
--fb-primary-color: #1877f2;
--fb-secondary-color: #42b72a;
--fb-shadow-regular: 0 2px 4px rgba(0,0,0, 0.1), 0 8px 16px rgba(0,0,0, 0.1);
--fb-bg-gray: #f0f2f5;
--fb-border: 1px solid #dddfe2;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    padding: 0px;
}

input:focus{
    outline: none;
}